.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Start {
  width: clamp(120px, 47vmin, 272px);

  & .logo {
    width: 100%;
  }

  & button {
    margin-top: 1em;
    width: 100%;
  }

  & p {
    margin-top: 1em;
    cursor: pointer;
    text-align: center;
  }
}
