.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Start {
  & button {
    margin-top: 1em;
    width: 92%;
  }

  & p {
    margin-top: 1em;
    cursor: pointer;
  }
}

@media screen and (min-width: 601px){


  .Start {
    width: 272px;

    & .logo {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px){

  .Start {
    width: 85%;

    & .logo {
      opacity: 0;
      height: 0;
    }
  }
}