@import '../../../styles/colors';

$sidebar-icon-size: 64px;
$sidebar-icon-vertical-spacing: 15px;

$sidebar-width: $sidebar-icon-vertical-spacing * 2 + $sidebar-icon-size;

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: $sidebar-width;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &.CreateProject {
    margin-bottom: 30vh;
    border-radius: 50%;

    svg {
      width: 46px;
      height: 46px;
    }
  }

  .SidebarTile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: $sidebar-icon-vertical-spacing;
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;

    user-select: none;

    color: white;
    background-color: rgba($color: #fff, $alpha: 0.1);
    border-radius: 12%;

    .Avatar,
    img,
    svg {
      border-radius: 12%;
      width: 62px;
      height: 62px;
    }

    &:first-child {
      margin-bottom: $sidebar-icon-vertical-spacing;

      &::before {
        content: '';
        $height: 2px;
        position: absolute;
        width: $sidebar-icon-size - 10px;
        height: $height;
        top: $sidebar-icon-size + $sidebar-icon-vertical-spacing - $height;

        background-color: $elevation-24;
      }
    }

    &.active {
      box-shadow: 0 0 3px $on-surface-high;
    }

    &:hover {
      box-shadow: 0 0 3px 1px $on-surface;
    }
  }
}
