@import '../../styles/colors';
$baseline: 16px;

.Input {
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
  font-size: 16px;
  width: 100%;
  height: 72px;

  & + & {
    margin-top: 0.5em;
  }

  & div {
    position: relative;
    width: 100%;
    height: 56px;

    transition: background-color 0.3s ease;
    background-color: rgba($surface-overlay, 0.06);

    &:hover {
      background-color: $surface-overlay-hover;
    }

    & label {
      font-size: 1em;
      color: $on-surface-medium;

      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);

      padding-left: $baseline;
      pointer-events: none;

      transition: all 0.3s ease;
    }

    & input {
      background-color: transparent;
      font-size: 1em;
      width: 100%;
      height: 100%;
      padding-top: 1.2em;
      padding-bottom: 0.2em;
      padding-left: $baseline;

      transition: background-color 0.3s ease;

      &:focus + label,
      &:not(:placeholder-shown) + label {
        font-size: 0.8em;
        transform: translateY(0%);
        top: 8%;
      }

      &:hover {
        background-color: rgba($surface-overlay, 0.06);
        border-bottom: 1px solid $on-surface-medium;
      }

      &:focus {
        background-color: rgba($surface-overlay, 0.06);
        border-bottom: 1px solid $primary-200;
      }

      &:focus + label {
        color: $primary-200;
      }
    }

    & span {
      color: $on-surface-medium;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.4px;
      padding-left: $baseline;
    }
  }

  &.invalid div span,
  & div input:not(:valid) + label + span {
    color: $error;
  }
}
