@import '../../../styles/colors';

.FirstSteps.SetupAvatar {
  & .avatar label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    padding: 1em;

    transition: background-color 0.3s ease;

    img {
      width: 100%;
      max-width: clamp(128px, 35vh, 512px);
      max-height: clamp(128px, 35vh, 512px);
    }

    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 17x;
      line-height: 1.2em;
      letter-spacing: 1.25px;

      margin-top: 0.75em;
    }

    &:hover {
      background-color: $surface-overlay-hover;
    }
  }
}
