@import '../../styles/extension';

.FullLoadingScreen {
  @extend .flex-center;
  width: 100vw;
  height: 100vh;

  img, svg {
    width: 40vmin;
    max-width: 256px;
    height: auto;

    animation: anim 1s ease-in-out 0s infinite alternate;
  }
}

@keyframes anim {
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
