$surface: #121212;
$surface-overlay: #ffffff;
$surface-overlay-hover: rgba($surface-overlay, 0.04);
$surface-overlay-focus: rgba($surface-overlay, 0.12);
$surface-overlay-pressed: rgba($surface-overlay, 0.1);
$on-surface: #ffffff;
$on-surface-high: rgba($on-surface, 0.87);
$on-surface-medium: rgba($on-surface, 0.6);
$on-surface-disabled: rgba($on-surface, 0.38);

$primary-surface: #201b25;
$main-surface: #252525;
$main-accent: #555555;

$primary: #bb86fc;
$primary-100: #f2e7fe;
$primary-200: $primary;
$primary-300: #985eff;
$primary-400: #7f39fb;
$primary-500: #6200ee;
$primary-600: #5600e8;
$primary-700: #3700b3;
$primary-800: #30009c;
$primary-900: #23036a;
$primary-overlay: #ffffff;
$on-primary: #000000;
$on-primary-high: rgba($on-primary, 1);
$on-primary-medium: rgba($on-primary, 0.74);
$on-primary-disabled: rgba($on-primary, 0.38);

$error: #cf6679;
