.FullScreenQuestion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  & h2 {
    margin-top: clamp(0.5em, 5vh, 1.5em);
  }

  & .Textarea {
    width: clamp(380px, 60%, 720px);
  }

  & .Input {
    width: clamp(380px, 60%, 720px);
  }

  & .options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.75em;
    margin-bottom: 1.75em;

    & button {
      max-width: 286px;
      margin: 0 0.75em;
    }
  }
}
