.BackButton {
  display: flex;

  position: absolute;
  top: 2vmin;
  left: 2vmin;
  border-radius: 12%;

  $size: 10vmin;

  &, & img {
    width: clamp(30px, $size, 72px);
    height: clamp(30px, $size, 72px);
  }

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.25);
  }

  &:focus:not(:active) {
    border: 1px solid #fff;
    background-color: rgba($color: #fff, $alpha: 0.12);
  }

  &:active {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }

}
