@import '../../styles/colors';

$sidebar-icon-size: 64px;
$sidebar-icon-vertical-spacing: 17px;
$indicator-width: 6px;
$sidebar-width: $sidebar-icon-vertical-spacing * 2 + $sidebar-icon-size +
  $indicator-width;

.App {
  display: flex;

  width: 100vw;
  height: 100vh;

  &,
  .Sidebar {
    background-color: $primary-surface;
  }

  & main {
    width: 100%;
    height: 100%;

    border-left: 1px solid $main-accent;
    border-style: none none none solid;

    background-color: $main-surface;
  }
}

.Project {
  display: flex;
  flex-direction: column;
  & h3 {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin: 20px;
  }
  & div {
    display: flex;
    
    width: 230px;
    height: 200px;
    & div{
      width: 100%;
      height: 100%;
    }
    & ul {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      & li {
        display: flex;
        font-size: 18px;
        margin: 7px; 
        padding: 13px 60px 13px 10px;
        justify-content: flex-start;
        align-items: center;

        &:hover, &.selected{
          background-color: $primary-200;
          color: black;
        }
       & .icon {
         display: flex;
         font-size: 25px;
         margin-right: 17px;
       }
      }
    }
  }
}
