.Task {
    background-color: darkcyan;
    display: flex;
    width: 60%;
    height: 60%;

    & div {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: orange;
       
        & input {
            display: flex;
            position: relative;
            align-self: flex-end;
            justify-self: flex-start; 
        }
    }
}
  
